<form id="login-form" class="sign-up-login-form">
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      id="email"
      placeholder="Email address"
    />
  </div>
  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
    />
  </div>
  <div class="text-center mb-3">
    <button type="submit" class="btn control-btn">Login</button>
  </div>
  <div class="text-center form-text error" id="login-error"></div>
</form>