<form id="sign-up-form" class="sign-up-form">
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      id="email"
      placeholder="Email address"
    />
    <div class="form-text error" id="email-error"></div>
  </div>
  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
    />
    <div class="form-text">
      Should contain at least one uppercase, lowercase, numeric and special
      character
    </div>
    <div class="form-text error" id="password-error"></div>
  </div>
  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      id="confirm-password"
      placeholder="Confirm password"
    />
    <div class="form-text error" id="confirmPassword-error"></div>
  </div>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      id="first-name"
      placeholder="First name"
    />
    <div class="form-text error" id="firstName-error"></div>
  </div>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      id="last-name"
      placeholder="Last name"
    />
    <div class="form-text error" id="lastName-error"></div>
  </div>
  <div class="mb-3">
    <input
      type="number"
      class="form-control"
      id="height"
      placeholder="Height (cm)"
    />
    <div class="form-text error" id="height-error"></div>
  </div>
  <div class="mb-3">
    <input
      type="number"
      class="form-control"
      id="weight"
      placeholder="Weight (kg)"
    />
    <div class="form-text error" id="weight-error"></div>
  </div>
  <div class="mb-3">
    <input type="number" class="form-control" id="age" placeholder="Age" />
    <div class="form-text error" id="age-error"></div>
  </div>
  <div class="text-center mb-3">
    <button type="submit" class="btn control-btn">Create Account</button>
  </div>
</form>